export default function {{componentName}}Layout({
  children,
}: Readonly<{
  children: React.ReactNode
}>) {
  return (
    <main>
      <h1>{{componentName}}Layout</h1>
      {children}
    </main>
  )
}
