/**
 * {{componentName}}PagePresentation
 * @description Shared Components or Client Components
 */
export const {{componentName}}PagePresentation = () => {
  return (
    <main>
      <h2>{{componentName}}Page</h2>
      <p>TODO: ページの内容を実装してください</p>
    </main>
  )
}
