type Props = Readonly<{
  children: React.ReactNode
}>

/**
 * {{componentName}}LayoutPresentation
 * @description Shared Components or Client Components
 */
export const {{componentName}}LayoutPresentation = ({ children }: Props) => {
  return (
    <main>
      <h2>{{componentName}}Layout</h2>
      {children}
    </main>
  )
}
