/**
 * {{componentName}}LayoutPresentation
 * @description Shared Components or Client Components
 */
export const {{componentName}}LayoutPresentation = ({
  children,
}: Readonly<{
  children: React.ReactNode
}>) => {
  return (
    <main>
      <h2>{{componentName}}Layout</h2>
      {children}
    </main>
  )
}
